@charset "UTF-8";
/* ************************************************************** */
/* Common */
/* ************************************************************** */
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box; /* ボックスモデルを統一 */
}
*::selection {
  color: #eee;
  background-color: #333;
}
h1,
h2,
h3,
h4,
.text {
  font-family: serif, Georgia, 'Times New Roman', Times;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1280px;
  /* min-width: 768px; */
  width: 80%;
  margin: 0 auto;

}
      /* *********************************************** */
      /* Subtitle_ber */
      /* *********************************************** */
.Sub_Title_ber {
  width: 420px;
  height: 72px;
  margin-top: 80px;
  position: relative;
  top: 0;
  left: -100px;
  background-color: #333;
  color: white;
  transform: skewX(30deg);
  display: flex;
  justify-content: end;
  box-shadow: 4px 4px 8px #777;
  opacity: 0;
}
.hidden {
  opacity: 0;
  /* 初期状態は透明 */
}

.scroll-in {
  animation: scrollIn 1s forwards;
  /* アニメーションの設定 */
}
/* スクロールインのアニメーション */
@keyframes scrollIn {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  100% {
      opacity: 1;
      transform: translateX(0),skewX(30deg);
      
  }
}

.sub-title-text {
  padding-right: 96px;
  transform: skewX(-30deg);
  text-align: right;
  font-family: serif, Georgia, 'Times New Roman', Times;
}
.sub-title-text h2,
.sub-title-text h3 {
  color: white;
  font-size: 1.8rem;
  padding-top: 2px;
  font-weight: normal;
  text-align: center;
}
.sub-title-text h2::after,
.sub-title-text h3::after {
  content: "";
  position: absolute;
  background-color: #5CFFD3;
  height: 2px;
  width: 80px;
  top: 50%;
  right: 0px;
  z-index: 2;
  transform: skewX(30deg);
  display: inline-block;
  box-shadow: 0 0 16px #5CFFD3;
}

.sub-title-text p {
  color: white;
  font-size: 1rem;
  padding-bottom: 2px;
  text-align: center;
}

.page_move_btn {
  background-color: #333;
  width: 300px;
  height: 48px;
  margin: 40px auto 0;
  text-align: center;
  border-radius: 2px;
  box-shadow: 4px 4px 4px #777;
}
@media screen and (max-width: 768px) {
  .Sub_Title_ber {
      width: 320px;
      height: 56px;
      margin-top: 60px;
  }
  .Sub_Title_ber h2,
  .Sub_Title_ber h3 {
      font-size: 1.4rem;
  }

  .Sub_Title_ber p {
      font-size: 0.8rem;
  }
}

@media screen and (max-width: 507px) {
  .Sub_Title_ber {
      width: 260px;
      height: 50px;
      margin-top: 40px;
  }
  .Sub_Title_ber h2,
  .Sub_Title_ber h3 {
      font-size: 1.2rem;
  }

  .Sub_Title_ber p {
      font-size: 0.6rem;
  }

  .sub-title-text {
      padding-right: 60px;
  }

  .sub-title-text h2::after, 
  .sub-title-text h3::after {
      width: 40px;
  }
}
      /* *********************************************** */
      /* page_move_btn */
      /* *********************************************** */
.page_move_text {
  position: relative;
  font-size: 1.5rem;
  color: #eee;
  line-height: 48px;
  font-family: serif, Georgia, 'Times New Roman', Times;
  display: block;

}

.page_move_text::after {
  content: "";
  position: absolute;
  background-color: #5CFFD3;
  height: 2px;
  width: calc(100% - 240px);
  top: 50%;
  right: 0px;
  z-index: 2;
  display: inline-block;
  box-shadow: 0 0 16px #5CFFD3;
  transition: all 0.3s ease;
  animation: barIn 1s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;
}
@keyframes barIn {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 240px);
  }
}
.page_move_text:hover::after {
  content: "";
  position: absolute;
  background-color: #5CFFD3;
  height: 2px;
  width: calc(100% - 240px);
  top: 50%;
  right: 0px;
  z-index: 2;
  display: inline-block;
  box-shadow: 0 0 16px #5CFFD3;
  opacity: 1;
}



/* ************************************************************** */
/* header */
/* ************************************************************** */
header {
  height: 80px;
  background-color: rgba(30, 30, 30, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  color: rgb(225, 225, 225);
  padding: 0 16px;
  opacity: 1;
  transition: transform 1s, opacity 1s;
  transition: top 0.5s ease;
}
header.hide{
  transform:translateY(-100%);
  opacity: 0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  /* max-width: 1280px; */
  width: 100%;
  /* margin: 0 auto; */
}
.header-title {
  line-height: 80px;
  font-size: 2rem;
  font-weight: normal;
  color: #eee;
  font-family: serif, Georgia, 'Times New Roman', Times;
  transition: all 0.4s;
}

.header-title:hover {
  color: #5CFFD3;
  text-shadow: #5CFFD3 0 0 0.5rem;
  opacity: 1;
}
.nav_box {
  position: absolute;
  right: 40px;
  transition: 0.5s;
}
.header_nav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  line-height: 80px;
  gap: 1.5rem;
}
.header_nav.open {
  display: flex;
  flex-direction: column;
  line-height: 32px;
  margin-top: 80px;
  width: 100%;
  transition: 0.5s; 
  
}
.nav_box.open{
  width: 100%;
  height: 420px;
  background-color: rgba(30, 30, 30, 0.9);
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 8%;
  transition: 0.5s;
}

.header-nav-list {
  color: rgb(225, 225, 225);
  font-size: 1rem;
  transition: all 0.4s;
  display: block;
  opacity: 0.8;
  font-family: serif, Georgia, 'Times New Roman', Times;
}

.header-nav-list:hover {
  color: #5CFFD3;
  text-shadow: #5CFFD3 0 0 0.5rem;
  opacity: 1;
}

        /* ********************************* */
        /* hunberger-menu */
        /* ********************************* */
.toggle_btn {
  display: block;
  position: absolute;
  top: 25px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
  display: none;
  transition: all 0.5s;
}
.toggle_btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #eee;
  transition: all 0.5s;
}
.toggle_btn:hover span {
  background-color: #5CFFD3;
  box-shadow: 0 0 8px #5CFFD3;

}
.toggle_btn span:nth-child(1) {
  top: 3px;
}
.toggle_btn span:nth-child(2) {
  top: 13px;
}
.toggle_btn span:nth-child(3) {
  bottom: 3px;
}
.open .toggle_btn span {
  background-color: #5CFFD3;
}
.open .toggle_btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  transform: translateY(-10px) rotate(675deg);
}

        /* ********************************* */
        /* header_responsive */
        /* ********************************* */

@media screen and (max-width: 768px){
  .header_nav {
    display: none;
  }
  .toggle_btn {
    display: block;
  }
}

/* ************************************************************** */
/* top-view */
/* ************************************************************** */

.top_view {
  width: 100%;
  height: 100vh;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* ビューポートの高さに合わせる */
  /* overflow: hidden; */
}

.slide {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  visibility: hidden;
  transition: visibility 2s ease-in-out;
  /*フェードのアニメーション */
  background-color: #333;

}

.slide.active {
  visibility: visible;
}

.slide.fade-in {
  visibility: visible;
  /* アクティブなスライドを表示 */
  animation: fadeIn 1.5s;
  animation-fill-mode: both;
  width: 100%;
}


/* .slide.visible {
  opacity: 1; 
} */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.firstView__text {
  position: absolute;
  top: 200px;
  /*元200*/
  left: 80px;
  font-weight: normal;
  letter-spacing: 0.1rem;
  /* transform: rotate(-14deg);   */
  /* display: none; */

}

.firstView__text.view {
  position: absolute;
  top: 200px;
  left: 100px;
  font-weight: normal;
  display: block;
  animation: view-in 2.5s;
  animation-fill-mode: both;
  animation-direction: normal;
}

@keyframes view-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.firstView__text-title {
  font-size: 8rem;
  max-width: 100%;
  color: #5CFFD3;
  position: relative;
  font-feature-settings: "palt";
  text-shadow: 2px 2px 20px #5CFFD3;
  font-weight: normal;
}

.firstView__text-name {
  font-size: 2rem;
  position: absolute;
  top: 160px;
  right: 10px;
  color: #ffffff;
  font-feature-settings: "palt";
  text-shadow: 2px 2px 20px #5CFFD3;
}

@media screen and (max-width: 1024px) {
  .firstView__text-title {
      font-size: 6rem;
  }

  .firstView__text-name {
      font-size: 1.5rem;
      top: 120px;
      right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .firstView__text-title {
      font-size: 4rem;
  }

  .firstView__text-name {
      font-size: 1rem;
      top: 80px;
      right: 10px;
  }
}

@media screen and (max-width: 450px) {
  .firstView__text-title {
      font-size: 2rem;
  }

  .firstView__text-name {
      font-size: 0.8rem;
      top: 50px;
      right: 5px;
  }

  .firstView__text {
      left: 40px;
  }
}

.text {
  opacity: 0;
  /* 初期状態で非表示 */
  transition: opacity 0.5s ease-in;
  /* フェードインアニメーション */
}

/* ************************************************************** */
/* Works */
/* ************************************************************** */
#works {
  max-width: 1440px;
  width: 100%;
}
.works_text {
  min-width: 270px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin: 80px auto 0;
  line-height: 1.6rem;
}
#works .container {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 40px; */
}

#key_visual {
  height: 50vh;
  margin-top: 80px;
  width: 100%;
}
.slider {                         /* js読み込み前は縦並びの画像を非表示*/
  visibility: hidden;       
}
.slider.slick-initialized {       /* js読み込み後表示*/
  visibility: visible;
}
.slick-prev,
.slick-next {
  z-index: 2;
}
.slick-prev {
  top: 120%;
  left: 25%;
}

.slick-next {
  top: 120%;
  right: 25%;
}

.slick-dots {
  bottom: -70px;
}

#key_visual .slider_img {
  width: 20%;
}
.slick-slide {
  transition: transform 0.3s ease;
}

.slick-center {
  transform: scale(1.1); /* 中央のスライドを大きくする */
  z-index: 2;
  padding-bottom: 30px;
}

.slick-slide:not(.slick-center) {
  opacity: 0.5; /* 中央以外のスライドの透明度を下げる */
  transform: scale(0.8); /* 中央以外のスライドを小さくする */
}
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;

    opacity: .75;
    color: #333;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slide_title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.slide_word {
  font-size: .75rem;
  text-align: center;
  margin-top: 4px;
}

@media screen and (max-width: 1280px) {
  .works_text {
      font-size: 0.9rem;
  }
}

@media screen and (max-width: 1080px) {
  .works_text {
      font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .works_text {
      margin: 40px auto 0;
      line-height: 1.2rem;
  }

  .slick-dots {
      bottom: -20px;
  }
}

@media screen and (max-width: 507px) {
  .works_text {
      font-size: 0.6rem;
      margin: 40px auto 0;
      line-height: 1rem;
  }
}

/* ************************************************************** */
/* Works(Works-page) */
/* ************************************************************** */
.works_contents {
  margin-top: 80px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}
.works_page_img {
  width: 100%;
}
.grid_works_title {
  color: #333; 
  text-align: left;
  padding-left: 16px;
  font-weight: bold;
}
.grid_works_text {
  color: #333;
  text-align: left;
  padding-left: 16px;
  margin-top: 4px;
  position: relative;
}
.grid_works_text::before {
  content: "";
  width: 8px;
  height: 40px;
  background-color: #828282;
  position: absolute;
  left: 0px;
  top: -20px;
}
.Sub_Title_ber_works {
  width: 420px;
  height: 72px;
  margin-top: 160px;
  position: relative;
  top: 0;
  left: -100px;
  background-color: #333;
  color: white;
  transform: skewX(30deg);
  display: flex;
  justify-content: end;
  box-shadow: 4px 4px 8px #777;
}
@media screen and (max-width: 1024px) {
  .Sub_Title_ber_works {
    margin-top: 110px;
  }
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}
@media screen and (max-width: 768px) {
  .works_page_img {
    width: 80%;
  }
  .Sub_Title_ber_works {
    width: 320px;
    height: 56px;
  }
  .Sub_Title_ber_works h2 {
      font-size: 1.4rem;
  }

  .Sub_Title_ber_works p {
      font-size: 0.8rem;
  }
  .product-list {
    gap: 24px;
  }
  .grid_works_text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 507px) {
  .Sub_Title_ber_works {
      width: 260px;
      height: 50px;
      margin-top: 100px;
  }

  .Sub_Title_ber_works h2 {
      font-size: 1.2rem;
  }

  .Sub_Title_ber_works p {
      font-size: 0.6rem;
  }

  .sub-title-text {
      padding-right: 60px;
  }

  .sub-title-text h2::after {
      width: 40px;
  }
  .product-list {
    display: flex;
    flex-direction: column;
    text-align: center;

  }
  .product-list li {
    padding-bottom: 40px;
  }  
  .grid_works_title {
    padding-left: 80px;
  }
  .grid_works_text {
    padding-left: 80px;
  }
  .grid_works_text::before {
    left: 60px;
  }
  
}
@media screen and (max-width: 450px) {
  .grid_works_text::before {
    height: 35px;
  }
  .grid_works_text {
    font-size: 0.8rem;
  }
}

/* ************************************************************** */
/* Works(Work-page) */
/* ************************************************************** */
.work_view {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;

}
.work_view_imgbox {
  width: 40%;
  min-width: 440px;
}
.work_view_imgbox img {
  width: 100%;
}
.work_table {
  background-color: #555;
  color: #eee;
  height: 200px;
  width: 400px;
  position: relative;
}
.work_table::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  height: 200px;
  width: 1000px;
  background-color: #555;
  z-index: -1;
}
.work_table_head {
  text-align: right;
}
.work_table_data {
  padding-left: 16px;
}
.work_table_data a {
  color: #5CFFD3;
  text-decoration: underline;
}

.pre_next_arrow {
  display: flex;
  justify-content: space-between;
}
.common_arrow {
  width: 200px;
  height: 40px;
  margin-top: 40px;
  background-color: #777;
  color: white;
  box-shadow: 4px 4px 8px #777;
  transition: .5s
}
.pre_arrow {
  margin-left: 10%;
  transform: skewX(-30deg);
}
.next_arrow {
  margin-right: 10%;
  transform: skewX(30deg);
}
.arrow_btn {
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  color: #eee;
  display: block;
}
.arrow_btn:hover {
  color: #5CFFD3;
}
.pre_arrow_text {
  transform: skewX(30deg);
}
.next_arrow_text {
  transform: skewX(-30deg);
}
.return_btn {
  border-radius: 2px;
}
.pcommon_arrow:hover {
  background-color: #444;
  color: #5CFFD3;
  text-shadow: #5CFFD3 0 0 0.5rem;
}
@media screen and (max-width: 1024px) {
  .work_view_imgbox {
    min-width: 320px;
  }
  .work_table {
    font-size: 0.9rem;
    height: 160px;
  }
  .work_table::after {
    height: 160px;
  }
  .common_arrow {
    width: 120px;
    height: 30px;
  }
  .arrow_btn {
    font-size: 1rem;
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .work_view {
    flex-direction: column;
    margin-top: 20px;
  }
  .work_view_imgbox {
    width: 80%;
    
  }
  .work_table::after {
    display: none;
  }
  .common_arrow {
    width: 80px;
    height: 25px;
  }
  .arrow_btn {
    font-size: 0.8rem;
    line-height: 25px;
  }
}
@media screen and (max-width: 507px) {
  .work_table {
    font-size: 0.8rem;
    height: 140px;
  }
}
@media screen and (max-width: 450px) {
  .work_table {
    font-size: 0.7rem;
    height: 120px;
    width: 360px;
  }
  .work_footer {
    margin-top: 40px;
  }
}

/* ************************************************************** */
/* Service */
/* ************************************************************** */
.service_section {
  margin-top: 160px;
}
.service_cards {
  margin: 80px auto 0;
  width: 100%;
  color: #eee;
  display: flex;
  justify-content: space-between;
  /* gap: 80px; */
}

.service_card {
  width: 30%;
  background-color: #626161;
  border: 1px solid #333;
  box-shadow: 4px 4px 8px #777;
  border-radius: 2px;
}

.service_card_title {
  padding: 4px;
  text-align: center;
  line-height: 72px;
  font-size: 1.25rem;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.service_card_img_bg {
  background-color: #D9D9D9;
  width: 100%;
}

.service_card_01 .service_card_img {
  height: 128px;
  display: block;
  margin: 0 auto;
  width: 70%;
}

.service_card_02 .service_card_img {
  width: 80%;
  height: 128px;
  object-fit: fill;
  display: block;
  margin: 0 auto;
}

.service_card_03 .service_card_img {
  width: 80%;
  height: 128px;
  object-fit: fill;
  display: block;
  margin: 0 auto;
}
.service_card_img {
  object-fit: contain;
}
.service_card_text {
  font-size: 0.75rem;
  padding: 24px;
}

@media screen and (max-width: 1280px) {
  .service_section {
      margin-top: 120px;
  }
}

@media screen and (max-width: 1080px) {
  .service_section {
      margin-top: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .service_section {
      margin-top: 60px;
  }

  .service_card_title {
      line-height: 48px;
  }

  .service_card_text {
      font-size: 0.6rem;
      padding: 16px;
  }
}

@media screen and (max-width: 768px) {
  #service .Sub_Title_ber {
      margin-top: 40px;
  }

  .service_section {
      margin-top: 0px;
  }

  .service_cards {
      flex-direction: column;
      gap: 40px;
      margin: 40px auto 0;

  }

  .service_card {
      width: 100%;
  }

  .service_card_img_bg {
      height: 280px;
  }

  .service_card_img_bg .service_card_img {
      height: 280px;
      width: 80%;
  }

  .service_card_text {
      font-size: 0.9rem;
      padding: 16px;
  }
}

@media screen and (max-width: 479px) {
  .service_card_img_bg {
      height: 240px;
  }

  .service_card_img_bg .service_card_img {
      height: 240px;
  }
}

@media screen and (max-width: 375px) {
  .service_card_img_bg {
      height: 160px;
  }

  .service_card_img_bg .service_card_img {
      height: 160px;
  }

  .service_card_text {
      font-size: 0.8rem;
      padding: 8px;
  }
}
/* ************************************************************** */
/* About */
/* ************************************************************** */
.about_area {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.about_text {
  width: 40%;
  padding-left: 100px;
  font-size: 1rem;
  line-height: 1.3rem;
}

.about_img {
  width: 40%;
  height: 270px;
  object-fit: contain;
  filter: drop-shadow(4px 4px 4px #777);
}

#about .page_move_btn {
  margin: 80px auto 0;
}

#about .page_move_text {
  letter-spacing: 0.1rem;
  display: block;
}

#about .page_move_text::after {
  right: 0px;
  top: 50%;
}

@media screen and (max-width: 1280px) {
  .about_img {
      height: 310px;
  }
}

@media screen and (max-width: 1080px) {
  .about_text {
      padding-left: 80px;
      font-size: 0.9rem;
      margin-right: 40px;
  }

  .about_img {
      height: 330px;
  }
}

@media screen and (max-width: 1024px) {
  .about_text {
      padding-left: 16px;
      font-size: 0.9rem;
      margin-right: 40px;
  }

  .about_img {
      height: 330px;
  }
}

@media screen and (max-width: 768px) {
  .about_area {
      flex-direction: column-reverse;
      margin-top: 40px;
      align-items: center;
  }

  .about_img {
      width: 80%;
  }

  .about_text {
      width: 80%;
      margin-right: 0;
      padding-left: 0;
      font-size: 0.8rem;
      margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  #about .page_move_btn {
      margin: 40px auto 0;
  }
  .about_text {
    margin-top: 0;
  }
}

/* ************************************************************** */
/* Flow */
/* ************************************************************** */
.flow_table {
  margin: 80px auto 0;
  border-collapse: separate;
  width: 65%;
  filter: drop-shadow(4px 4px 4px #777);
  /* box-shadow: 4px 4px 8px #777; */
}


.flow_text {
  position: relative;
}

.flow_text_block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  padding: 16px;
  padding-left: 40px;
  background-color: #ddd;
  margin-left: 8px;
  border-radius: 2px;
}

.flow_text_block_last {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  padding-left: 40px;
  background-color: #ddd;
  margin-left: 8px;
  border-radius: 2px;
}

.flow_text_title {
  font-size: 1.25rem;
  position: relative;
  font-weight: bold;
}

.flow_text_title::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0px;
  height: 2px;
  width: 95%;
  background-color: #41414150;
}

.flow_text_word {
  padding-top: 16px;
  font-size: 0.9rem;
  overflow: hidden;
}

.flow_step_box {
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  background-color: #333333a8;
  min-width: 80px;
  height: 240px;
  width: 10%;
  border-radius: 2px;
  font-weight: normal;
  text-align: center;
  vertical-align: text-top;
}

.flow_step_box_last {
  background-color: #333333a8;
  height: 160px;
  width: 10%;
  border-radius: 2px;
  font-weight: normal;
  text-align: center;
  vertical-align: text-top;
}

.flow_step {
  padding-top: 16px;
  font-size: 16px;
  color: #eee;
  font-family: serif, Georgia, 'Times New Roman', Times;
}

.flow_step_num {
  padding-top: 16px;
  font-size: 40px;
  color: #eee;
}

.flow_text_word_contact {
  text-decoration: underline;
  color: #007657;
  font-weight: bold;
}

@media screen and (max-width: 1080px) {
  .flow_table {
      width: 80%;
  }

  .flow_text_word {
      padding-top: 16px;
      font-size: 0.8rem;
      overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .flow_table {
      width: 95%;
  }

  .flow_text_word {
      padding-top: 16px;
      font-size: 0.7rem;
      overflow: hidden;
  }

  .flow_text_block {
      padding-left: 16px;
  }
}

@media screen and (max-width: 507px) {
  .flow_step_box {
      height: 280px;
  }

  .flow_step_box_last {
      height: 200px;
  }
}

@media screen and (max-width: 450px) {
  .flow_table {
      width: 100%;
  }
  .flow_text_title {
      font-size: 1rem;
  }
  .flow_text_word {
      padding-top: 16px;
      font-size: 0.7rem;
      overflow: hidden;
  }

  .flow_step_box {
      height: 320px;
  }

  .flow_step_box_last {
      height: 240px;
  }
}

/* ************************************************************** */
/* FAQ */
/* ************************************************************** */
#ac-menu {
  width: 65%;
  margin: 80px auto 0;
  box-shadow: 4px 4px 4px #777;
}

#ac-menu li {
  border-top: solid 1px #000;
}

#ac-menu li:last-child {
  border-bottom: solid 1px #000;
}

#ac-menu .label {
  cursor: pointer;
  font-size: 1.125rem;
  padding: 40px 30px;
  position: relative;
  transition: .5s;
}

#ac-menu .label:hover {
  background-color: #555;
  color: #eee;
}

/*
ラベル右側のアイコン「＋」を設定
beforeが横棒
afterが縦棒
*/
#ac-menu .label::before,
#ac-menu .label::after {
  content: '';
  width: 20px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 5%;
  transition: .5s;
  transform: translateY(-50%);
}

#ac-menu .label:hover::before,
#ac-menu .label:hover::after {
  background: #eee;
}

#ac-menu .label::after {
  transform: translateY(-50%) rotate(90deg);
  transition: .5s;
}

/*
アコーディオンメニューが開いている場合
*/
#ac-menu .label.open {
  /* ラベルの背景色を変更 */
  background-color: #555;
  color: #eee;
}

#ac-menu .label.open::before {
  /* ラベルアイコンの横棒を非表示 */
  opacity: 0;
}

#ac-menu .label.open::after {
  /* ラベルアイコンの縦棒を横向きに回転 */
  transform: rotate(180deg);
  background-color: #eee;
}

/*
アコーディオンメニューのコンテンツ部分は、「display: none;」で非表示にしておく。
ラベルクリック時にjQueryの「  $(this).next().slideToggle();」で表示に切り替わる
*/
#ac-menu .detail {
  border-top: solid 1px #333;
  padding: 35px 30px;
  display: none;
  background-color: #eee;
  font-size: .9rem;
}

#ac-menu .detail dl {
  display: flex;
  flex-wrap: wrap;
}

#ac-menu .detail dt {
  width: 20%;
  font-weight: bold;
  margin-bottom: 40px;
}

#ac-menu .detail dd {
  width: 80%;
  margin-bottom: 40px;
}

.faq_a {
  font-size: 1.2rem;
}

.faq_ul {
  padding-left: 16px;
}

#ac-menu li.faq_list {
  list-style: circle;
  border: none;
}

#ac-menu li.faq_list_text {
  border: none;
  padding-top: 16px;
}

#ac-menu .faq_text {
  padding: 16px 0 0 16px;

}

#faq .page_move_btn {
  margin: 80px auto 0;
}

#faq .page_move_text {
  letter-spacing: 0.1rem;
  display: block;
}

#faq .page_move_text::after {
  right: 0px;
  top: 50%;
}

@media screen and (max-width: 1024px) {
  #ac-menu {
      width: 97%;
  }
}

@media screen and (max-width: 768px) {

  #ac-menu .label,
  .detail .faq_a {
      font-size: 1rem;
  }
}

@media screen and (max-width: 507px) {
  #ac-menu {
      margin: 40px auto 0;
  }

  #ac-menu .label,
  .detail .faq_a {
      font-size: 0.75rem;
  }
}

@media screen and (max-width: 450px) {

  .faq_ul .faq_list,
  .faq_ul .faq_list_text,
  .detail .faq_text {
      font-size: 0.7rem;
  }
}
/* ************************************************************** */
/* Contact */
/* ************************************************************** */
.Sub_Title_ber {
  margin-top: 120px;
}
.contact_area {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 40px auto 0;
}
.contact_text {
  width: 30%;
  padding-top: 40px;
  padding-right: 80px;
}
.contact_text p {
  margin-bottom: 16px;
  font-size: 0.9rem;
}
.form_label {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.form_label_text {
  font-size: 1rem;
  line-height: 1.5;
}
.form_required_box {
  width: 40px;
  height: 24px;
  background-color: #ff5c5c;
  color: #eee;
  text-align: center;
  border-radius: 4px;
  margin-left: 8px;
}
.form_required {
  font-size: 0.9rem;
  line-height: 24px;
}
.contact_form_box {
  background-color: #eee;
  width: 40%;
  height: 520px;
  padding-top: 40px;
  box-shadow: 4px 4px 4px #77777777;
  position: relative;
}
.contact_form {
  width: 90%;
  margin: 0 auto;
}
.contact_form input,
.contact_form textarea {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #33333378;
  margin-bottom: 16px;
  padding: 4px;

}
.contact_form input::placeholder {
  color: #99999970;
}
.contact_form textarea {
  height: 100px;
  min-height: 100px;
  width: 100%;
  resize: none; 
}
.contact_form .contact_form_btn {
  width: 80px;
  background-color: #555;
  color: #eee;
  height: 40px;
  display: block;
  position: absolute;
  right: 24px;
}
@media screen and (max-width: 1280px) {
  .contact_form_box {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .contact_area {
    width: 100%;
    margin: 40px auto 0;
  }
  .contact_form_box {
    width: 60%;
  }
  .contact_text {
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .contact_area {
    flex-direction: column;
    width: 80%;
    margin: 20px auto 0;
  }
  .contact_text {
    width: 90%;
    margin: 0 auto;
  }
  .contact_form_box {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .contact_text {
    width: 100%;
  }
  .contact_form_box {
    width: 100%;
  }
}
/* ************************************************************** */
/* Footer */
/* ************************************************************** */
footer {
  margin-top: 80px;
  text-align: center;
  height: 80px;
  background-color: #333;
}

footer h4 {
  color: #eee;
  font-size: 2rem;
  font-weight: normal;
  line-height: 80px;
  text-align: center;
}

/* ************************************************************** */
/* Slick_initialize */
/* ************************************************************** */
.center {
  visibility: hidden;
}
.center.slick-initialized {
  visibility: visible;
}

