.header {
    width: 300px;
    height: 400px;
    background-color: red;
}

.h_01 {
    width: 150px;
    height: 150px;
    background-color: rgb(251, 129, 129);
}

.h_02 {
    width: 100px;
    height: 200px;
    background-color: rgb(248, 190, 190);
}

.h_03 {
    width: 100px;
    height: 500px;
    background-color: rgb(7, 7, 7);
    z-index: 1;
}

.main {
    width: 200px;
    height: 500px;
    background-color: yellow;
}

.main2 {
    width: 400px;
    height: 600px;
    background-color: blue;
}
.footer {
    width: 800px;
    height: 600px;
    background-color: blue;
}

/* スクロールインのアニメーション */
@keyframes scrollIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.block {
    height: 200px;
    width: 300px;
    background-color: pink;
}
.hidden {
    opacity: 0;
    /* 初期状態は透明 */
}

.scroll-in {
    animation: scrollIn 1s forwards;
   
    /* アニメーションの設定 */
}